apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-app
  namespace: prod
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      serviceAccountName: flask-app-sa 
      containers:
        - name: flask-app
          image: "{{ .Values.flask.image }}:{{ .Values.flask.tag }}"
          ports:
            - containerPort: 5000
          env:
            - name: DB_USER
              value: postgres
            - name: DB_HOST
              value: my-postgress-db.cc3m62swkfac.us-east-1.rds.amazonaws.com
            - name: DB_NAME
              value: flask
            - name: DB_PORT
              value: "5432"
            - name: AWS_REGION
              value: us-east-1
            - name: SECRET_KEY
              value: my_secret_key
